replicaCount: 2

image:
  repository: backend
  tag: latest
  pullPolicy: IfNotPresent

color: blue

service:
  type: ClusterIP
  port: 5000
  targetPort: 5000

resources:
  limits:
    cpu: "500m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "256Mi"

env:
  - name: DB_HOST
    value: "db"
  - name: DB_USER
    value: "postgres"
  - name: DB_PASS
    value: "password"
  - name: DB_NAME
    value: "healthletic"

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
